<!DOCTYPE HTML>
<html>
    <head>
        <title>Twatter</title>
        <script>
            
        </script>
    </head>
    <body>
        <div class='jumbotron text-center'>
            <h1>Welcome to Twatter</h1>
            <h2><small>Worlds slowest growing social network</small></h2>
            
        </div>
    </body>
</html>